<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>

<div class="main">
    <div class="container">
        <div class="main__block">
            <form th:action="@{/checkUser}" method="post" class="main__form">
                <h2>Username</h2>
                <label for="username">
                    <input type="text" name="username" class="main__input">
                </label>
                <h2>Password</h2>
                <label for="password">
                    <input type="text" name="password" class="main__input">
                </label>
                <input type="submit" value="Авторизоваться">
                <a href="registration" class="reg__link">Тык сюда если нет аккаунта</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>